
<div class="marg170"></div>
 {% comment %}
 <div id="details" class="basic-2">
        <div class="container">
             <h2 class="h2-heading">COLLECTIONS </h2>
                    <div class="brown-line33"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/abt-2.png?v=1629182673" alt="alternative"></div>
                
            <div class="row offset-div">
              {%- for collection in collections -%}
               {%- if collection.image -%}
        			 {%- assign collection_image = collection.image -%}
      				 {%- elsif collection.products.first and collection.products.first.images != empty -%}
       				 {%- assign collection_image = collection.products.first.featured_image -%}
      				 {%- else -%}
        		    {%- assign collection_image = blank -%}
     			 {%- endif -%}
              
                <div class="col-lg-4 col-xl-4 col-6 col-auto">
                  
                    <a href="{{ collection.url }}">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ collection_image | img_url: 'master' }}" alt="{{collection.title}}">
                    </div> <!-- end of image-container -->
					<p class="italic-word1">{{collection.title}}</p>
                  </a>
                  
                  
                </div> <!-- end of col -->
               {% endfor %}
             
            </div> <!-- end of row -->
        </div> 
    </div>
 {% endcomment %}
<!-- <div class="bg-img9 immmm"> -->
<div class="collection-list-wrapper">
   <h2 class="h2-heading text-center">BEST SELLERS </h2>
   <div class="brown-line33"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/abt-2.png?v=1629182673" alt="alternative"></div>
                
  
  
<div class="container">
  
   {% comment %}
  
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      {% assign collectionlist = linklists[section.settings.collection_list] %}
       {% for list in collectionlist.links %}
          <li class="nav-item" role="presentation">
            <a href="{{list.url}}"><button class="nav-link {% if forloop.first == true %} active {% endif %}" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">{{ list. title | upcase}}</button></a>
          </li>
       {% endfor %}
      </ul>

   {% endcomment %}
 
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
  
  <div class="blog-tab">
    <div class="row">
   {% for product in collections.all.products %}  
      {% assign productTags = product.tags | join: ', ' %}
      {% if productTags contains 'Dont Feature' %}
      
      {% else %}
      <div class="col-md-4 col-6 d-flex align-items-stretch">
        <a href="{{product.url | within:collection}}">
          <div class="card">
              <div class="img max-img-height">
                {% if product.media[1].preview_image != blank %}
              <img class="img-fluid" src="{{ product.media[0].preview_image | img_url: 'master' }}" alt="alternative"></div>
          
            {% else %}
             <img class="img-fluid" src="{{ product.featured_image | img_url: 'master' }}" alt="alternative"></div>
                    
            {% endif %}
            <div class="card-body d-flex flex-column">
              <div class="content">
                  <div class="title">
                         {{ product.title }}
                  </div>
                {% comment %}
                  <p class="dest_desc">{{product.description | truncate: 56, "" }}</p>
                 <p class="mob_desc">{{product.description | truncate: 32,"" }}</p>
                {% endcomment %}
                 <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
         <div class="collection-price-content">
                  <span class="price1">{{ product.compare_at_price | money }}</span>
                  <br>
                  <span class="price2">{{ product.price | money}}</span>
                </div>
                    <button class="btn-solid-reg blog-btn">BUY NOW</button>
                 
              </div>
            </div>
      		 </a>
         </div>
      </div>
    {% endif %}
   {% endfor %}   
    </div>
  </div>
  </div>

</div>
</div>
<!-- </div> -->
<div class="marg100"></div>
{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 48,
    "settings": [
      {
        "type": "header",
        "content": "Header image"
      },
	  {
        "type": "link_list",
        "id": "collection_list",
        "label": "Collection Menu"
      },
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Collections"
      },
      {
        "type": "checkbox",
        "id": "show_all_collections",
        "label": "Show all collections",
        "info": "Instead of the custom list below",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ]
  }
{% endschema %}
