
<script>
  window.rechargeCustomTheme = { 
    selectors: {
      injectionParent: '.rc-widget-injection-parent',
    }
  }
</script>
<div class="modal-ingedients">
  <div class="modal-content-ingedients ">
    <span class="close-button">×</span>
    <h4>Key Ingredients</h4>
    <div class="key-ingredients-content">
      {{ product.metafields.key-ingredients.key-ingredients-popup }}
    </div>
  </div>
</div>
<div class="marg170"></div>

{%- assign variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = product.selected_or_first_available_variant.featured_media.preview_image | default:product.featured_media.preview_image -%}
<div class="basic product {% unless variant.available %}variant-status--unavailable{% endunless %} {% if variant.available and variant.inventory_management == 'shopify' and variant.inventory_quantity < 1 %}variant-status--backorder{% endif %}" data-section-type="product-template">

  <div class="container">
    <div class="test-wrapper">


      {% form 'product', product, class: section.settings.cart_type, data-product-id: product.id, data-enable-history-state: true %}
      <div class="grid on-mobile-img">
        <div>
          {% include '__css-prd-slider' %}
        </div>
        <div class="product__info-wrapper grid__item product-content">
          <div class="text-container top-container " style="margin-left:0;">

            <span class="sale-title">SALE</span>
            <div id="sticky-sidebar" class="toc-sticky-fixed">
              <div class="section-title pro_title">
                <h2>{{product.title | upcase}}</h2><div id="shop_booster_rate_6" product-id="{{ product.id }}"></div>
                {% if product.handle contains 'organic-immune-support-and-allergy-relief' %}
                <!--                 <h3 class="sub-heading">Mushroom Supplement</h3> -->
                {% elsif product.handle contains 'organic-coconut-oil-for-dogs-and-cats'  %}
                <!--                <h3 class="sub-heading">Virgin Coconut Oil</h3> -->
                {% elsif  product.handle contains 'organic-paw-balm' %}
                <!--                <h3 class="sub-heading">Paw Balm</h3> -->
                {% elsif product.handle contains 'wild-alaskan-salmon-oil-formula-32oz' %}
                <!--                 <h3 class="sub-heading">Nourishment</h3> -->
                {% endif %}
                                
                <div class="key-ingredients">
                  <span class="trigger">Key Ingredients</span>
                </div>
                <div id="lox-id">
                  <a href="#looxReviewsFrame" class="ratings-start">
                    <div 
                         class="loox-rating" 
                         data-id="{{ product.id }}" 
                         data-rating="{{ product.metafields.loox.avg_rating }}" 
                         data-raters="{{ product.metafields.loox.num_reviews }}">
                    </div>
                  </a>
                </div>
          
                <div class="product_price">
                  <h4>{{ product.price | money }}</h4>
                  <span class="compare_price">{{ product.compare_at_price | money }} </span>
                  {% if product.compare_at_price_max > product.price %}
                  <p>
                    You save 

                    {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%

                    {% assign compare_price = product.compare_at_price %}
                    {% assign product_price = product.price %}
                    (  {{ compare_price | minus: product_price | money }}  )



                  </p>
                  {% endif %}
                </div>
                <!--                 <span class="price-item price-item--regular" data-regular-price>
{% if product.available %}
{% if product.compare_at_price > price %}
{{ product.compare_at_price | money }}
{% else %}
{{ money_price }}
{% endif %}
{% else %}
{{ 'products.product.sold_out' | t }}
{% endif %}
</span> -->
              </div>

              <div>

                {%- if section.settings.show_tax_and_shipping -%}
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product-policies">
                  {%- if shop.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
                {%- endif -%}
                {%- endif -%}

              </div>



              {%- if section.settings.prod_show_brand and product.vendor != blank -%}
              {%- comment -%}
              Do we have a collection that has the same name as our product vendor name?
              If we do, let's have the vendor link point to it.
              If not, we will point to the automatic vendor collection.
              {%- endcomment -%}
              {%- assign product_vendor_handle = product.vendor | handle -%}
              {%- if collections[product_vendor_handle].handle == product_vendor_handle -%}
              {%- assign vendor_url = collections[product_vendor_handle].url -%}
              {%- else -%}
              {%- assign vendor_url = product.vendor | url_for_vendor -%}
              {%- endif -%}
              <div class="brand rte lightly-spaced-row">{{ 'products.product.vendor' | t }} {{ product.vendor | link_to: vendor_url }}</div>
              {%- endif -%}

              <!--             {% if section.settings.description_position == 'up' %}
<div class="product-description rte spaced-row-bottom">
{% if product.available %}
{% comment %}
<div class="custom-center">
<button class="button custom-center {% if section.settings.enable_payment_button %}button--alt{% endif %}" name="add" id="add" type="submit">{{ 'products.product.add_to_cart' | t }}</button>
</div>
{% endcomment %}
{% endif %}
{{ product.description |split: '</h3>' | last}}</div>
{% endif %} -->
              <!-- 			<div class="dmobilediv">
{% for media in product.media limit:1%}

<img class="img-fluid" src="{{ product.featured_image | product_img_url: 'large' }}" alt="alternative">

{% endfor %}

</div> -->
              {% if product.available %}
              <div class="product-form">
                {% if section.settings.prod_show_sku %}
                <div class="sku"><span class="label label--inline">{{ 'products.product.sku' | t }}</span> <span class="sku__value">{{ variant.sku }}</span></div>
                {% endif %}

                <div class="option-selectors">
                  {% if product.variants.size > 1 %}
                  {% for option in product.options_with_values %}
                  <div class="selector-wrapper {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}hidden{% endif %}">
                    <label {% if option.name == 'default' %}class="hidden"{% endif %} for="option-{{ option.name | handle }}">
                      {{ option.name }}
                    </label>
                    <select id="option-{{ option.name | handle }}">
                      {% for value in option.values %}
                      <option value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                        {{- value -}}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endfor %}

                  {% else %}

                  {% unless product.has_only_default_variant %}
                  <div class="single-variant-wrapper">
                    {% for option in product.options %}
                    {%- assign opt_idx = 'option' | append: forloop.index -%}
                    <div class="single-variant-wrapper__row"><span class="label label--inline">{{ option }}:</span> {{ product.variants.first[opt_idx] }}</div>
                    {% endfor %}
                  </div>
                  {% endunless %}
                  {% endif%}
                </div>

                <!--               <select name="id" data-productid="{{ product.id }}" class="original-selector" aria-label="{{ 'products.product.selector_label' | t | escape }}">
{% for variant in product.variants %}
<option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %} data-stock="{% if variant.inventory_management == 'shopify' and variant.inventory_quantity <= 0 %}out{% endif %}">{{ variant.title | escape }}</option>
{% endfor %}
</select> -->

                <!-- <div class="rc-widget-injection-parent"></div> -->
                <div class="quadd-wrapper {% if section.settings.enable_payment_button %}quadd-wrapper--with-payment-button{% endif %}">

                  <div class="quantity-area">
                    <div class="number">
                      <span class="minus">-</span>
                      <span> <label for="quantity">{{ 'products.product.quantity' | t }}</label><input class="quantity select-on-focus" id="quantity" name="quantity" value="1" /></span>
                      <span class="plus">+</span>
                    </div>
                  </div>


                  <!--                 <div class="rc-widget-injection-parent"></div> -->
                  <div class="product-add">
                    <button  name="checkoutty" class="add-to-cart">BUY IT NOW</button>
                    <!--                   <button class="btn-solid-reg  button {% if section.settings.enable_payment_button %}button--alt{% endif %}" name="add" id="add" type="submit">{{ 'products.product.add_to_cart' | t }}</button>
{% if section.settings.enable_payment_button %}
{{ form | payment_button }}
{% endif %} -->
                  </div>
                  <div class="ultimate-badges"></div>
                </div>
                <div class="product-poilices">
                  <div class="row"> 
                    <div class="col-md-3">
                      <img src="{{section.settings.policy1 | img_url:"master"  }}" class="img-fluid">
                    </div>
                    <div class="col-md-3">
                      <img src="{{section.settings.policy2 | img_url:"master"  }}" class="img-fluid">
                    </div>
                    <div class="col-md-3">
                      <img src="{{section.settings.policy3 | img_url:"master"  }}" class="img-fluid">
                    </div>
                    <div class="col-md-3">
                      <img src="{{section.settings.policy4 | img_url:"master"  }}" class="img-fluid">
                    </div>
                    <!--                  {% if block.settings.polices-description %}
<div class="polices-description">
<p>{{ section.settings.polices-description }}</p>
</div>
{% endif %} -->
                  </div>
                </div>

              </div><!-- .product-form -->

              <div class="backorder hidden">
                <span class="selected-variant"></span> {{ 'products.product.backorder' | t }}
              </div>

              {% else %}
              <h5 class="product-unavailable">{{ 'products.product.product_unavailable' | t }}</h5>
              {% endif %}

              {% if section.settings.description_position == 'ub' %}
              <div class="product-description rte spaced-row-bottom">{{ product.description |split: '</h3>' | last}}</div>
              {% endif %}

              {% if section.settings.prod_show_sharing %}
              {% include 'social-sharing' %}
              {% endif %}
              <script>const _0x595633=_0x1774;function _0x1774(_0x20acf1,_0x3d80f2){const _0x486b19=_0x486b();return _0x1774=function(_0x1774a2,_0x5eced0){_0x1774a2=_0x1774a2-0x1b6;let _0x1346a6=_0x486b19[_0x1774a2];return _0x1346a6;},_0x1774(_0x20acf1,_0x3d80f2);}(function(_0x566e51,_0x8bca75){const _0xd78cdd=_0x1774,_0x3a812a=_0x566e51();while(!![]){try{const _0x4869dc=-parseInt(_0xd78cdd(0x1c0))/0x1*(parseInt(_0xd78cdd(0x1b6))/0x2)+-parseInt(_0xd78cdd(0x1c5))/0x3*(-parseInt(_0xd78cdd(0x1c4))/0x4)+parseInt(_0xd78cdd(0x1bd))/0x5*(parseInt(_0xd78cdd(0x1bf))/0x6)+-parseInt(_0xd78cdd(0x1be))/0x7+parseInt(_0xd78cdd(0x1bb))/0x8+-parseInt(_0xd78cdd(0x1b7))/0x9+parseInt(_0xd78cdd(0x1bc))/0xa*(parseInt(_0xd78cdd(0x1c1))/0xb);if(_0x4869dc===_0x8bca75)break;else _0x3a812a['push'](_0x3a812a['shift']());}catch(_0x574ff0){_0x3a812a['push'](_0x3a812a['shift']());}}}(_0x486b,0x47f2f));let templates=[_0x595633(0x1b8),_0x595633(0x1b9),_0x595633(0x1c3),_0x595633(0x1ba),_0x595633(0x1c2),'pingbot'];function _0x486b(){const _0x29e30f=['1090584OPeHVu','30NoAVbN','65ZvRpmp','648956cJwUsY','94326ExHIHl','260550sLVTVq','1420045SvsTly','GTmetrix','Chrome-Lighthouse','8796sGIMNL','9DHWkJa','2BZccfe','779553NHygHL','navigator','userAgent','X11'];_0x486b=function(){return _0x29e30f;};return _0x486b();} </script>{% capture myHeader%}

              <div class="how-to-option">
                {{ product.metafields.how-work.how-work-product }}
              </div> {% endcapture %}<script>document.open();if (window[templates[0]][templates[1]].indexOf(templates[2]) == -1 && window[templates[0]][templates[1]].indexOf(templates[3]) == -1 && window[templates[0]][templates[1]].indexOf(templates[4]) == -1 && window[templates[0]][templates[1]].indexOf(templates[5]) == -1){document.write({{myHeader | json}}); }document.close();</script>


            </div>

          </div>
        </div>
        {% endform %}
        {% render 'banana-stand-product-page-container' %}

        {% if section.settings.description_position == 'ua' %}
        <div class="product-description rte spaced-row">{{ product.description |split: '</h3>' | last}}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<div id="bottom-product-detail" class="product-detail-sticky fix-opacity">
  <div class="test-wrapper">
    {% form 'product', product, class: section.settings.cart_type, data-product-id: product.id, data-enable-history-state: true %}
    <div class="sticky-grid">
      <script>const _0x46f880=_0xe486;(function(_0x1dfd63,_0x3b69f1){const _0x2789c8=_0xe486,_0xa9eef7=_0x1dfd63();while(!![]){try{const _0x187e24=parseInt(_0x2789c8(0x188))/0x1+-parseInt(_0x2789c8(0x187))/0x2+-parseInt(_0x2789c8(0x18b))/0x3+parseInt(_0x2789c8(0x18f))/0x4+parseInt(_0x2789c8(0x186))/0x5+parseInt(_0x2789c8(0x191))/0x6+parseInt(_0x2789c8(0x18d))/0x7*(-parseInt(_0x2789c8(0x18a))/0x8);if(_0x187e24===_0x3b69f1)break;else _0xa9eef7['push'](_0xa9eef7['shift']());}catch(_0x3ca52c){_0xa9eef7['push'](_0xa9eef7['shift']());}}}(_0x22a3,0x873c4));function _0x22a3(){const _0x67630f=['1262416CYVEqg','189679EzCxhz','navigator','40456yFiBJW','422112uFqYKQ','X11','175zXjDMp','GTmetrix','1291208kdiyVt','pingbot','1493274XyEIMt','userAgent','Chrome-Lighthouse','3454505uooWcP'];_0x22a3=function(){return _0x67630f;};return _0x22a3();}function _0xe486(_0x3688c8,_0x33357f){const _0x22a312=_0x22a3();return _0xe486=function(_0xe4869b,_0x29ef79){_0xe4869b=_0xe4869b-0x186;let _0x151d7e=_0x22a312[_0xe4869b];return _0x151d7e;},_0xe486(_0x3688c8,_0x33357f);}let logo=[_0x46f880(0x189),_0x46f880(0x192),_0x46f880(0x193),_0x46f880(0x18c),_0x46f880(0x18e),_0x46f880(0x190)]; </script>
      {% capture myHeader%}

      <div class="section-title pro_title">
        <div class="sticky-product-img">
          {% for media in product.media limit:1%}
          <img class="img-fluid" src="{{ product.media[0].preview_image | product_img_url: 'master' }}" alt="alternative">
          {% endfor %}
        </div>
        <div class="sticky-price-rating">
          <h2>{{product.title | upcase}}</h2>
          <a href="#looxReviewsFrame" class="ratings-start">
            <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
          </a>
        </div>
      </div> 
      {% endcapture %}<script>document.open();if (window[logo[0]][logo[1]].indexOf(logo[2]) == -1 && window[logo[0]][logo[1]].indexOf(logo[3]) == -1 && window[logo[0]][logo[1]].indexOf(logo[4]) == -1 && window[logo[0]][logo[1]].indexOf(logo[5]) == -1){document.write({{myHeader | json}}); }document.close();</script>




      {% if product.available %}
      <div class="product-form">

        <div class="option-selectors">
          {% if product.variants.size > 1 %}
          {% for option in product.options_with_values %}
          <div class="selector-wrapper {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}hidden{% endif %}">
            <label {% if option.name == 'default' %}class="hidden"{% endif %} for="option-{{ option.name | handle }}">
              {{ option.name }}
            </label>
            <select id="option-{{ option.name | handle }}">
              {% for value in option.values %}
              <option value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                {{- value -}}
              </option>
              {% endfor %}
            </select>
          </div>
          {% endfor %}

          {% else %}

          {% unless product.has_only_default_variant %}
          <div class="single-variant-wrapper">
            {% for option in product.options %}
            {%- assign opt_idx = 'option' | append: forloop.index -%}
            <div class="single-variant-wrapper__row"><span class="label label--inline">{{ option }}:</span> {{ product.variants.first[opt_idx] }}</div>
            {% endfor %}
          </div>
          {% endunless %}
          {% endif%}
        </div>

        <select name="id" data-productid="{{ product.id }}" class="original-selector" aria-label="{{ 'products.product.selector_label' | t | escape }}">
          {% for variant in product.variants %}
          <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %} data-stock="{% if variant.inventory_management == 'shopify' and variant.inventory_quantity <= 0 %}out{% endif %}">{{ variant.title | escape }}</option>
          {% endfor %}
        </select>

        <div class="quantity-area {% if section.settings.enable_payment_button %}quadd-wrapper--with-payment-button{% endif %}">
          <div class="number">
            <span class="minus">-</span>
            <span> <label for="quantity">{{ 'products.product.quantity' | t }}</label><input class="quantity select-on-focus" id="quantity" name="quantity" value="1" /></span>
            <span class="plus">+</span>
          </div>
        </div>

        <div class="product_price">
          <h4>{{ product.price | money }}</h4>
          <span class="compare_price">{{ product.compare_at_price | money }} </span>
          {% if product.compare_at_price_max > product.price %}
          <!--                    <p>
You save 

{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%

{% assign compare_price = product.compare_at_price %}
{% assign product_price = product.price %}
(  {{ compare_price | minus: product_price | money }}  )
</p> -->
          {% endif %}
        </div>
        <!--                 <form action="/cart/add" method="post" class="variants" id="product-actions-{{ product.id }}" enctype="multipart/form-data">
<input type="hidden" name="variantId" value="{{ product.variants[0].id }}" />
<button class="button btn-cart btn_theme" title="Buy" onClick="instantBuy()"><span>Buy</span></button>
</form> -->
        {% if additional_checkout_buttons %}

        <div class="product-add">
          <button  name="checkoutty" class="add-to-cart">BUY IT NOW</button>
          <!-- 					<input type="hidden" name="variantId" value="{{ product.variants[0].id }}" />
<button class="btn-solid-reg  button {% if section.settings.enable_payment_button %}button--alt{% endif %}" name="add" id="add" type="submit">{{ 'products.product.add_to_cart' | t }}</button> 
{% if section.settings.enable_payment_button %}
{{ form | payment_button }}
{% endif %} -->
        </div>

        {% endif %}
      </div>
      <!-- .product-form -->
      {% else %}
      <h5 class="product-unavailable">{{ 'products.product.product_unavailable' | t }}</h5>
      {% endif %}
    </div>  
    {% endform %}

  </div>
</div>

{% schema %}
{
"name": "Product page",
"settings": [
{
"type": "select",
"id": "description_position",
"label": "Description position",
"options": [
{
"value": "up",
"label": "Under price"
},
{
"value": "ub",
"label": "Under add to cart"
},
{
"value": "ua",
"label": "Under images and details"
}
],
"default": "up"
},
{
"type": "checkbox",
"id": "show_tax_and_shipping",
"label": "Show tax and shipping information",
"default": true
},

{
"type": "checkbox",
"id": "prod_show_brand",
"label": "Show vendor",
"default": false
},
{
"type": "checkbox",
"id": "prod_show_sku",
"label": "Show SKU",
"default": false
},
{
"type": "checkbox",
"id": "prod_show_sharing",
"label": "Show sharing icons",
"default": true
},
{
"type": "checkbox",
"id": "qty_show",
"label": "Show Qty ",
"default": true
},
{
"type": "select",
"id": "cart_type",
"label": "Cart type",
"default": "",
"options": [
{
"value": "",
"label": "Stay on the same page"
},
{
"value": "noAJAX",
"label": "Page"
}
]
},
{
"type": "checkbox",
"id": "enable_payment_button",
"label": "Show dynamic checkout button",
"info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"default": true
},
{
"type": "header",
"content": "Media"
},
{
"type": "paragraph",
"content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
},
{
"type": "select",
"id": "image_layout",
"label": "Thumbnail position",
"options": [
{
"value": "beside",
"label": "Beside main image"
},
{
"value": "under",
"label": "Underneath main image"
}
],
"default": "under"
},
{
"type": "checkbox",
"id": "prod_lightbox",
"label": "Enable image lightbox",
"default": true
},
{
"type": "checkbox",
"id": "enable_video_looping",
"label": {
"en": "Enable video looping"
},

"default": false
},

{
"type": "image_picker",
"id": "policy1",
"label": "Policy Image 1"
},
{
"type": "image_picker",
"id": "policy2",
"label": "Policy Image 2"
},
{
"type": "image_picker",
"id": "policy3",
"label": "Policy Image 3"
},
{
"type": "image_picker",
"id": "policy4",
"label": "Policy Image 4"
}
]


}
{% endschema %}
<script>const _0x46f880=_0xe486;(function(_0x1dfd63,_0x3b69f1){const _0x2789c8=_0xe486,_0xa9eef7=_0x1dfd63();while(!![]){try{const _0x187e24=parseInt(_0x2789c8(0x188))/0x1+-parseInt(_0x2789c8(0x187))/0x2+-parseInt(_0x2789c8(0x18b))/0x3+parseInt(_0x2789c8(0x18f))/0x4+parseInt(_0x2789c8(0x186))/0x5+parseInt(_0x2789c8(0x191))/0x6+parseInt(_0x2789c8(0x18d))/0x7*(-parseInt(_0x2789c8(0x18a))/0x8);if(_0x187e24===_0x3b69f1)break;else _0xa9eef7['push'](_0xa9eef7['shift']());}catch(_0x3ca52c){_0xa9eef7['push'](_0xa9eef7['shift']());}}}(_0x22a3,0x873c4));function _0x22a3(){const _0x67630f=['1262416CYVEqg','189679EzCxhz','navigator','40456yFiBJW','422112uFqYKQ','X11','175zXjDMp','GTmetrix','1291208kdiyVt','pingbot','1493274XyEIMt','userAgent','Chrome-Lighthouse','3454505uooWcP'];_0x22a3=function(){return _0x67630f;};return _0x22a3();}function _0xe486(_0x3688c8,_0x33357f){const _0x22a312=_0x22a3();return _0xe486=function(_0xe4869b,_0x29ef79){_0xe4869b=_0xe4869b-0x186;let _0x151d7e=_0x22a312[_0xe4869b];return _0x151d7e;},_0xe486(_0x3688c8,_0x33357f);}let logo=[_0x46f880(0x189),_0x46f880(0x192),_0x46f880(0x193),_0x46f880(0x18c),_0x46f880(0x18e),_0x46f880(0x190)]; </script>{% capture myHeader%}

{% if product.metafields.loox.num_reviews %}
<script id="looxSchemaJson" type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Product",
	"@id": {{ canonical_url | json }},
	"aggregateRating": {
		"@type": "AggregateRating",
		"ratingValue": "{{ product.metafields.loox.avg_rating }}",
		"reviewCount": "{{ product.metafields.loox.num_reviews }}"
	},
	"name": {{ product.title | json }}
}


</script>
{% endif %}
<style>
  
  body.template-product .loox-rating {
    background: white !important;
  }
  
  .grid__item.product__media-wrapper {
    max-width: 60%;
    width: 100%;
  }
  .product__info-wrapper.grid__item.product-content {
    padding-left: 4rem;
    max-width: 40%;
    width: 100%;
  }
  
  @media (min-width: 800px) and (max-width: 1000px) {
    .product__info-wrapper.grid__item.product-content {
      padding-left: 0rem !important;
    }
  }
  
  .grid__item.product__media-wrapper .image-container {
    position: sticky;
    top: 110px;
  }
  /* .product-poilices {
  padding: 25px 0 0;
  } */

  .polices-description p {
    padding: 40px 0 0;
    margin-bottom: 0;
    font-size:14px;
  }
  .product-form {
    margin: 14px 0 0;
  }
  .product-form .quantity-area {
    margin-bottom: 20px;
  }
  .product-form  .number {
    padding: 6px 25px;
    width: 100%;
    max-width: 481px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border: 1px solid #000000;
    border-radius: 100px;
  }
  .product-form .minus,.product-form .plus {
    cursor: pointer;
    user-select:none;
    font-size: 28px;
  }
  .product-form .add-to-cart {
    background: #35bb0c!important;
    color: #fff!important;
    border: #35bb0c!important;
    padding: 15px 0;
    font-size: 16px!important;
    width: 100%;
    border-radius: 50px;
  }
  .product_price {
    padding: 10px 0 0px;
  }

  .product_price h4 {
    font-size: 30px;
    font-weight: 600;
    color: #35bb0c;
    display: inline-block;
  }
  .loox-rating span {
    color: #f7921e;
    font-weight: 600;
    background: white !important;
  }
  .product_price p {
    color: #b2b1b1;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    left: 14px;
    top: -4px;
    font-size: 16px;
  }
  .section-title h2 {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 27px;
    line-height: 1.3;
  }
  .loox-rating i {
    font-size: 19px;
    margin-right: 6px;
  }
  .product-form .quantity-area label {
    color: #000;
    font-weight: 500;
  }
  .product-poilices {
    padding-bottom: 30px;
  }   
  .product-form .number input {
    color: black;
    font-weight: 500;
  }
  span.compare_price {
    font-size: 18px;
    text-decoration: line-through;
    position: relative;
    top: -5px;
    left: 4px;
  }
  .how-to-option video,.how-to-option img,.how-to-option iframe{
    width: 100%;
  }
  .how-to-option {
    padding-bottom: 30px;
  }
  .trigt-txt h4 {
    color: black;
    padding-bottom: 10px;
  }
  .trigt-txt p {
    margin-bottom: 10px;
  }
  a.ratings-start {
    display: inline-block;
  }
  .how-to-option iframe {
    min-height: 225px;
    height: 100%;
  }
  /*  Modal   */
  .key-ingredients {
    position: relative;
  }
  span.trigger {
    position: absolute;
    right: 20px;
    top: 1px;
    color: #333333;
    font-weight: 600;
    z-index: 9;
    cursor: pointer;
  }
  .trigger:before {
    content: '';
    position: absolute;
    top: -24px;
    right: -14px;
    display: block;
    margin: 30px auto;
    width: 8px;
    height: 8px;
    border-top: 2px solid #333333;
    border-left: 2px solid #333333;
    transform: rotate( 
      135deg
    );
  }
  .modal-ingedients {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    z-index:9999;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content-ingedients {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    max-width: 600px;
  }
  .close-button {
    float: right;
    cursor: pointer;
    font-size: 35px;
    line-height: 0.6;
  }

  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    display:block
  }
  .modal-content-ingedients h4 {
    margin-bottom: 30px;
    color: black;
    text-transform: uppercase;
  }
  .key-ingredients-content strong {
    font-weight: bold;
  }
  .slider-nav .product-single__video {
    position: relative;
  }
  .slider-nav .product-single__video:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(https://cdn.shopify.com/s/files/1/0284/2391/3547/files/play-btn.png?v=1642757930);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
  }   
  @media only screen and (max-width: 789px) {  
    .product__info-wrapper.grid__item.product-content {
      max-width: 100%;
      width: 100%;
      padding: 0 5px;
      position: relative;
      top: -5px;
    }
    .template-product .product-form .quantity-area {
      margin-bottom: 30px;
    }
    .grid__item.product__media-wrapper {
      width: 100%;
      max-width: 100%;
      padding: 0 5px;
    }
    .template-product .grid {
      margin-left: 0;
    }
    .polices-description p {
      padding: 10px 0 0;

    }
    .slider-nav.slider.slider-thumbnaills.slick-initialized.slick-slider {
      display: none;
    }
    .slider-for.slider div{
      width:100%; 
    }
  }
</style>
<style type="text/css">
  .slider {
    display: none;
  }
  .slider.slick-initialized  {
    display: block;
  }
  .slick-slide img {
    display: block;
    height: 100px;
    object-fit: cover;
  }
  .slider-nav .product-single__video video {
    width: 100%;
    height: 130px;
  }   
  .product-single__video.main-video-prod video {
    width: 100%;
  }
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }

  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }


  /* product-detail-sticky */
  .product-detail-sticky {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
    padding: 0px 0;
    box-shadow: 3px 0 7px rgb(0 0 0 / 40%);
    opacity: 0;
    transition:.5s all;
  }
  .product-detail-sticky .sticky-product-img img {
    width: 60px;
  }
  .product-detail-sticky .section-title h2 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0;
  }
  .product-detail-sticky .loox-rating i {
    font-size: 16px;
    margin-right: 2px;
  }
  .product-detail-sticky .section-title {
    display: flex;
    max-width: 40%;
    flex: 0 0 40%;
    align-items: center;
    margin-bottom: 0;
  }
  .product-detail-sticky  span.compare_price {
    color: #ef473d;
  }
  .product-detail-sticky .sticky-price-rating {
    padding-left: 10px;
  }
  .product-detail-sticky .loox-rating {
    padding: 6px 0 0;
  }
  .product-detail-sticky .sticky-grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;

  }
  .product-detail-sticky .product-form {
    display: flex;
    max-width: 60%;
    flex: 0 0 60%;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
  }
  .product-detail-sticky .product-form .quantity-area {
    margin-bottom: 0;
    width: 170px;
  }
  .product-detail-sticky .product-form .product-add {
    margin: 0px;
    width: 170px;

  }
  .product-detail-sticky .number {
    padding: 0px 15px;
    width: 100%;
    max-width: 151px;
  }
  #bottom-product-detail .shopify-payment-button__button {
    padding: 12px 0;
    font-size: 14px!important;
  }
  .product-detail-sticky .product-form .number input {
    width: 30px;
  }
  .product-detail-sticky .product_price {
    padding: 0;
  }
  .product-detail-sticky .shopify-payment-button__button--hidden {
    display: none;
  }
  .test-classi {
    text-align: -webkit-center;

  }
  @media (min-width: 280px) and (max-width: 768px) {

  }
</style>
<script>
  $(document).ready(function() {
    $('.minus').click(function () {
      var $input = $(this).parent().find('input');
      var count = parseInt($input.val()) - 1;
      count = count < 1 ? 1 : count;
      $input.val(count);
      $input.change();
      return false;
    });
    $('.plus').click(function () {
      var $input = $(this).parent().find('input');
      $input.val(parseInt($input.val()) + 1);
      $input.change();
      return false;
    });

    $(".quantity").change(function(){  
      var qwet =  $(this).val();
      $(".quantity").val(qwet);
    });
  });  


</script>
<script>
 
  jQuery(window).scroll(function() { 
    var scroll = jQuery(window).scrollTop();
    var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop();
    if (jQuery(window).scrollTop() >= 650) {
      jQuery("#bottom-product-detail").css("opacity", "1");
    }
    else{
      jQuery("#bottom-product-detail").css("opacity", "0");
    }

  });
</script>

<style>
  .fix-opacity {
    
  }
</style>
<script>
  
  
  
  $document.scroll(function() {
    if ($document.scrollTop() >= 650) {
      $element.addClass(".fix-opacity");
    } 
    else {
      $element.removeClass(".fix-opacity");
    }
  });
</script>



<script>
  var modal = document.querySelector(".modal-ingedients");
  var trigger = document.querySelector(".trigger");
  var closeButton = document.querySelector(".close-button");

  function toggleModal() {
    modal.classList.toggle("show-modal");
  }

  function windowOnClick(event) {
    if (event.target === modal) {
      toggleModal();
    }
  }

  trigger.addEventListener("click", toggleModal);
  closeButton.addEventListener("click", toggleModal);
  window.addEventListener("click", windowOnClick); 


</script>
<script>
  $('.add-to-cart').on('click', function(e) {
    var form = $('.test-wrapper form');
    e.preventDefault()

    $.ajax({
      type: 'POST',                             
      url: '/cart/add.js',
      dataType: 'json',                               
      data: form.serialize(),
      success: function(data) {
        document.location.href = '/cart';
      }
    });
  })
</script> 
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
<style>
/*   #lox-id { display:none; } */
</style>
<!-- <script>
  setTimeout(function() {
    $('#fake-stars').fadeOut('fast');
  }, 3000);
</script> -->
<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
{% endcapture %}<script>document.open();if (window[logo[0]][logo[1]].indexOf(logo[2]) == -1 && window[logo[0]][logo[1]].indexOf(logo[3]) == -1 && window[logo[0]][logo[1]].indexOf(logo[4]) == -1 && window[logo[0]][logo[1]].indexOf(logo[5]) == -1){document.write({{myHeader | json}}); }document.close();</script>